.button {
  font: inherit;
  border: 1px solid #005172;
  background: #005172;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #8FCAE7;
  border-color: #8FCAE7;
}

.button:focus {
  outline: none;
}